@model StockInModel

<form id="stockInForm">
    <input type="text" id="stockInID" hidden asp-for="@Model.ID" />

    <div class="row mb-3">
        <label for="stockInNumber" class="form-label col-sm-2">No</label>
        <div class="col-md-3 col-lg-3">
            <input type="text" asp-for=No autofocus class="form-control" placeholder="Auto" readonly id="stockInNumber" name="stockInNumber">
        </div>
    </div>
    <div class="row mb-3">
        <label for="stockInDate" class="form-label col-sm-2">Date</label>
        <div class="col-sm-3">
            <input type="date" asp-for=Date class="form-control" id="stockInDate" name="stockInDate">
        </div>
    </div>
</form>